default_compiler = "auto"

[[bin]]
project = "ami"
# compiler = "auto"
flags = ["-Wall", "-Wextra", "-std=c99"]

# debug
# ldflags = [
#     "-O3",                                    # Optimization level 3
#     "-DDEBUG",                                # Define DEBUG constant
#     #"-fsanitize=address",
#     #"-g",
#     "-s",
#     "-lm",
#     "-static"
# ]

# release flags
ldflags = [
    "-O3",                                    # Optimization level 3
    "-flto",                                  # Link-time optimization
    "-fno-asynchronous-unwind-tables",       # Disable async unwind tables
    "-fno-unwind-tables",                    # Disable unwind tables
    "-fno-exceptions",                       # Disable exception handling
    "-DNDEBUG",                              # Define NDEBUG for release build
    "-s"                                    # Strip debug symbols
    "-static"                                # Static linking
]

src = ["src/"]
include = ["include/"]
# compile = []
libs = ["m", "archive", "acl", "attr", "z", "bz2", "lzma", "lz4", "zstd", "crypto", "pthread"]
